type {{ pascalCase name }}Props = {}

export const {{ pascalCase name }} = (props: {{ pascalCase name }}Props) => {
  return (
    <div
      className={`
      
    `}
    >
      Componente {{ pascalCase name }}
    </div>
  )
}
